body {
  font-family: Helvetica, Geneva, sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 960px;
  padding: 40px 10px;
  line-height: 1.65em;
  background: #055f98;
  color: #dff3fb;
  font-weight: 100;
}

h1 {
  text-align: center;
  margin: 10% 0 10% 0;
}

.wordbox {
    /*opacity: 0;*/
    margin: 30px auto 0;
    display: block;
    width: 300px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    background: #ddb603;
    border-radius: 9px;
    
}

#hbWord {
  display: none;
}

button {
  background: #ddb603;
    border: 0;
    color: #dff3fb;
    font-size: 20px;
    padding: 1em 2em;
    cursor: pointer;
    margin: 0 auto 60px;
    display: block;
    text-align: center;
    border-radius: 9px;
    font-weight: bold;
}


